{{- $children := .page.Pages -}}

{{- $related :=  $children -}}
{{- if gt (len $related) 0 -}}
{{- $skip := default 1 .skip -}}
{{- $title := default "Powiązane" .title -}}
{{- $noTitle := default false .noTitle -}}

{{- if not $noTitle -}}
<h2>{{ $title }}</h2>
{{- end -}}
<div class="row row-cols-1 row-cols-md-4 g-4">
    {{ range $index, $item := $related }}
    <div class="col">
        <div class="card shadow bg-primary border-0 d-flex justify-content-end card-img position-relative opacity-on-hoover-sm"
             style="height: 300px">
            {{ partial "thumbnail" ( dict "image" (.Resources.Get .Params.image) "class" "object-fit-cover opacity-25 w-100 h-100 rounded") }}
            <a href="{{ .RelPermalink }}"
               class="text-white h4 position-absolute position-absolute top-50 start-50 translate-middle w-100 p-3 text-center">
                <h4>{{ $item.Title }}</h4>
            </a>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}