$primary: #009a6b;
$danger: #ff4136;
$box_shadow: 1rem 1rem 2rem -5px rgba(0, 0, 0, 0.32);

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

@import "bootstrap/bootstrap";

html,body {
  margin: 0;
  padding: 0;
}

#navbar_top{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

#hero{
    @extend .text-white;
    @extend .container-fluid;

    background: $primary;
    height: 100vh;
    padding: 0;
    position: relative;
    > .overly{
        position: absolute;
        @extend .d-flex;
        @extend .flex-column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100vh;
        z-index: 10;
        > .gallery{
            @extend .p-5;
            @extend .m-0;

            > img{
                @extend .rounded-5;
                box-shadow: $box_shadow;
                padding-right: 0;
                padding-left: 20px;
                margin-top: 20px;

            }
        }
    }
    > .cover{
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0;
        bottom: 0;
        filter: url('#purple-warm');
        filter: opacity(0.5);
    }
}

.navbar-brand{
//     margin-bottom: -36px;
//     background-color: $primary;
//     align-self: baseline;
//     margin-left: 10px;
//     padding: 15px;
}

.cover{
      height: 100%;
      width: 100%;
      object-fit: cover;
}

.overly{

}