$primary: #009a6b;
$danger: #ff4136;
$box_shadow: 1rem 1rem 2rem -5px rgba(0, 0, 0, 0.32);

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

@import "bootstrap/bootstrap";

html,body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 88px;
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-100;


}
main{
//     min-height: 100vh;
}
#navbar_top{
    transition: 0.8s;
    -webkit-transition:  0.8s;
    @extend .navbar;
    @extend .fixed-top;
    @extend .navbar-dark;
    @extend .bg-primary;
    @extend .navbar-expand-md;
    @extend .px-5;
    @extend .shadow;

    &.responsive{
        &.before-scroll{
            @extend .p-5;
            background-color: transparent !important;
            @extend .shadow-none;
//             padding: 50px 150px 150px 150px !important;
            font-size: 25px;
            > .navbar-brand{
                visibility: hidden;
            }
        }
    }
}

#hero{
    @extend .text-white;
    @extend .container-fluid;

//     background: $primary;
    height: 100vh;
    padding: 0;
    position: relative;
    > .overly{
        @extend .d-flex;
        @extend .flex-column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100vh;
        z-index: 1;

        > .gallery {
            @extend .row;
            @extend .p-5;
            margin: 0;
            > img{
                @extend .p-1;
                @extend .p-md-2;
                @extend .col-6;
                @extend .col-md-3;
                @extend .rounded-5;
                object-fit: cover;
            }
        }
    }
    > .cover{
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0;
        bottom: 0;
//         opacity: 0.5;
        z-index: -1;
    }
}

.navbar-brand{
//     margin-bottom: -36px;
//     background-color: $primary;
//     align-self: baseline;
//     margin-left: 10px;
//     padding: 15px;
}

.cover{
      height: 100%;
      width: 100%;
      object-fit: cover;
}

.overly{

}

.footer{
        align-self: center;
}