$primary: #009a6b;
$danger: #ff4136;
// $dark: #cccccc;
$box_shadow: 1rem 1rem 2rem -5px rgba(0, 0, 0, 0.32);

$theme-colors: (
        "primary": $primary,
        "danger": $danger
);

@import "bootstrap/bootstrap";
@import "font-awesome";
@import "navbar";
@import "footer";
@import "page_index";
@import "page_posts";
@import "timeline";

html, body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 200px;
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-100;
  @extend .bg-body-secondary;
}

a:link {
  text-decoration: none;
}

.gallery-image {
  transition: 0.5s;
  cursor: pointer;
  @extend .img-fluid;
  @extend .rounded;
  @extend .shadow;

  &:hover {
    transform: scale(1.2);
    @extend .shadow-none;
  }
}

.scale-on-hoover-sm {
  transition: 0.5s;

  &:hover {
    z-index: 10;
    transform: scale(1.1);
    @extend .shadow-none;
  }

}

.opacity-on-hoover-sm {
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }

}

.observable-fade {
  opacity: 0;
}

.observable-fade.visible {
  opacity: 1;
}

.text-shadow-black {
  text-shadow: 0 0 20px #000000, 0 0 20px #000000;
}

.fill-primary {

}

#navbar_top {
  .nav-link {
    > i {
      @extend .pe-2;
    }
  }

  .nav-item-text {
    @extend .d-md-none;
    @extend .d-xl-block;
  }
}