{{ define "main" }}
<article class="p-5">
    <header class="container">
        {{ partial "breadcrumb.html" . }}
    </header>
    <div class="container bg-white p-5 shadow rounded">
        {{ .Content }}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {{ range .Pages }}
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </div>
                    <div class="card-body">{{ .Summary }} ...</div>
                    <div class="card-footer text-end">
                        <a href="{{ .Permalink }}" class="btn btn-primary text-white">Czytaj dalej</a>
                    </div>

                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="container pt-5">
        {{ partial "related/linked" ( dict "page" . ) }}
    </div>
</article>
{{ end }}



