{{ define "main" }}
<article class="p-5">
    <header class="container">
        {{ partial "breadcrumb.html" . }}
    </header>
    <div class="container bg-white p-5 shadow rounded">
        {{ .Content }}
        <div class="row row-cols-1 g-4">
            {{ range .Pages }}
            <div class="col">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <p>{{ .Summary }} ...</p>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="container pt-5">
        {{ partial "related/linked" ( dict "page" . ) }}
    </div>
</article>
{{ end }}



