#navbar_top{
    transition: 0.8s;
    -webkit-transition:  0.8s;
    @extend .navbar;
    @extend .fixed-top;
    @extend .navbar-dark;
    @extend .bg-primary;
    @extend .navbar-expand-md;
    @extend .px-5;
    @extend .shadow;

    &.responsive{
        &.before-scroll{
            @extend .p-3;
            background-color: transparent !important;
            @extend .shadow-none;
//             padding: 50px 150px 150px 150px !important;
            font-size: 25px;
            > .navbar-brand{
                visibility: hidden;
            }
        }
    }
}
#navbarNav.show{
    > .navbar-nav{
        @extend .bg-primary;
        @extend .p-5;
    }
}