$primary: #009a6b;
$danger: #ff4136;
// $dark: #cccccc;
$box_shadow: 1rem 1rem 2rem -5px rgba(0, 0, 0, 0.32);

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

@import "bootstrap/bootstrap";

html,body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 200px;
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-100;


}
main{
//     min-height: 100vh;
}
#navbar_top{
    transition: 0.8s;
    -webkit-transition:  0.8s;
    @extend .navbar;
    @extend .fixed-top;
    @extend .navbar-dark;
    @extend .bg-primary;
    @extend .navbar-expand-md;
    @extend .px-5;
    @extend .shadow;

    &.responsive{
        &.before-scroll{
            @extend .p-3;
            background-color: transparent !important;
            @extend .shadow-none;
//             padding: 50px 150px 150px 150px !important;
            font-size: 25px;
            > .navbar-brand{
                visibility: hidden;
            }
        }
    }
}
#navbarNav.show{
    > .navbar-nav{
        @extend .bg-primary;
        @extend .p-5;
    }
}

#hero{
    @extend .text-white;
    @extend .container-fluid;

    background: $primary;
    padding-top: 130px; // for respecting navbnar size
    position: relative; // for background-video adjust to the hero size
    @extend .pb-5;

    > .overly{
        z-index: 10; // for bringing the content in front of the video-background
        position: relative; // for bringing the content in front of the video-background
    }

    > .intro{
//         @extend .container;
        @extend .row;

//         @extend .g-5;
        > * {
            margin: 0;
            @extend .col-12;
            @extend .col-xl;
//             @extend .p-xl-5;
            align-content: center;
            text-align: center;
            place-items: center;
            justify-items: center;
        }
        > .wrapper-right{
            @include media-breakpoint-up(xxl) {
//                 place-items: start;
            }
        }

        .text{
            @extend .py-5;
            > .logos {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                > img{
                    @extend .mt-5;
                }
            }
        }

    }
    > .background-video{
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        z-index: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.navbar-brand{
//     margin-bottom: -36px;
//     background-color: $primary;
//     align-self: baseline;
//     margin-left: 10px;
//     padding: 15px;
}

.cover{
      height: 100%;
      width: 100%;
      object-fit: cover;
}

.overly{

}

.footer{
        align-self: center;
}
//


.bg-1{
    background-color: #754ffe!important;
}
.bg-2{
    background-color: #f59e0b !important;
}

.text-dark{
}


.offer{

}

.launcher{
    width: 280px;
    @include media-breakpoint-up(md) {
        width: 600px;
    }
    @extend .row;
//     @extend .border;
//     @extend .g-0;
    > *{
        height: 280px;
        padding: 0;
        box-sizing: border-box;
        align-self: center;
//         @extend .border;
//         @extend .p-2;
//         @extend .p-md-0;
//         @extend .g-3;
        @include media-breakpoint-up(md) {
            width: 50%;
        }

    &:nth-child(1){
//         @extend .border;
        text-align: right;
    }
    &:nth-child(2){
//         @extend .border;
        align-content: end;
        text-align: right;
        @extend .d-none;
        @extend .d-md-block;
    }
    &:nth-child(3){
//         @extend .border;
        align-content: end;
//         text-align: center;
        @extend .d-none;
        @extend .d-md-block;
    }

    }
}

.pill{
    @extend .rounded-pill;
    @extend .m-1;
    margin-bottom: 8px;
    padding: 8px 16px;
    @extend .bg-white;
    @extend .text-black;
    text-align: left;
}

.rounded{
   @extend .rounded-4;
    @extend .m-1;
    margin-bottom: 8px;
    padding: 8px 16px;
    @extend .bg-white;
    @extend .text-black;
    text-align: left;
}