{{ define "main" }}
<article class="p-5">
    <header class="container">
        {{ partial "breadcrumb.html" . }}
    </header>
    <div class="container bg-white p-5 shadow rounded">
        <div class="my-5">
            {{ partial "timeline.html" ( slice
            (dict "name" "Ogłoszenie edycji" "date" .Params.timeline_publishing_date)
            (dict "name" "Rozpoczęcie rekrutacji" "date" .Params.timeline_recruitment_start_date)
            (dict "name" "Zakończenie rekrutacji" "date" .Params.timeline_recruitment_end_date)
            (dict "name" "Rozpoczęcie kursu" "date" .Params.timeline_course_start_date)
            (dict "name" "Zakończenie kursu" "date" .Params.timeline_course_end_date)
            )}}
        </div>
        {{ partial "course-content.html" (merge .Parent.Params .Params) }}
        {{ .Content }}
        <div class="container pt-5">
            {{ partial "gallery" (dict "page" . ) }}
        </div>
        <div class="container pt-5">
            {{ partial "related/linked" ( dict "page" . ) }}
        </div>
    </div>
</article>
{{ end }}
