{{- $page := .page -}}
{{- $items := .items -}}
{{- range $page.Params.albums -}}
<h2>{{ .name }}</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-5 pb-5 text-center">
    {{- $images := .images -}}
    {{- if $items -}}
    {{- $images = first $items $images -}}
    {{- end -}}
    {{- range $images -}}
    <div class="col">
        <div class="col">
            {{ partial "thumbnail"
            ( dict
            "page" $page
            "image" ( $page.Resources.Get . )
            "class" "gallery-image observable-fade"
            ) }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}