{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav id="menu-{{ $menuID }}" class='navbar {{ $page.Param "nav_class" }}'>
    <a class="navbar-brand" href="/">{{ site.Title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-{{ $menuID }}-collapse"
            aria-controls="menu-{{ $menuID }}-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white p-lg-1" id="menu-{{ $menuID }}-collapse">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
            {{- partial "inline/menu/walk" (dict "page" $page "menuEntries" .) }}
        </ul>
    </div>
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
{{- $page := .page }}
{{- range .menuEntries }}
{{- $attrs := dict "href" .URL "data-toggle" "tooltip" "data-placement" "bottom" "title" .Name -}}
{{- $class := slice "nav-link" "d-flex" "align-items-center" -}}
{{- if $page.IsMenuCurrent .Menu . }}
{{- $attrs = merge $attrs (dict "aria-current" "page") }}
{{- $class = $class | append "active" }}
{{- else if $page.HasMenuCurrent .Menu .}}
{{- $attrs = merge $attrs (dict "aria-current" "true") }}
{{- $class = $class | append "active" }}
{{- else }}
{{- end }}
{{- $attrs = merge $attrs (dict "class" (delimit $class " ")) }}
{{- $name := .Name }}
{{- with .Identifier }}
{{- with T . }}
{{- $name = . }}
{{- end }}
{{- end }}
<li class="nav-item d-flex">
    <a
            {{- range $k, $v :=$attrs }}
            {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
    {{- end }}
    {{- end -}}
    >{{ .Pre | }}<span class="nav-item-text text-center lh-1">{{ $name }}</span></a>
    {{- with .Children }}
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
    <div class="dropdown">
        <ul class="dropdown-menu">
            {{- partial "inline/menu/walk" (dict "page" $page "menuEntries" .) }}
        </ul>
    </div>
    {{- end }}
</li>
{{- end }}
{{- end }}