<h2>Wyślij wiadomość</h2>
<form action="mailto:szkola@zspzd-technikum.pl" method="get" enctype="text/plain">
    <div class="form-group">
        <label for="exampleFormControlInput1">Temat</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="subject"  placeholder="Enter topic">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Wiadomość</label>
        <textarea class="form-control" name="body"  id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Wyślij</button>
</form>