<h2>Wyślij wiadomość</h2>
<form action="mailto:szkola@zspzd-technikum.pl" method="get" enctype="text/plain"
      class="d-flex flex-column gap-2">
    <input type="text" class="form-control" id="exampleFormControlInput1" name="subject"
           placeholder="Temat">
    <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="3"
              placeholder="Wiadomość"></textarea>
    <button type="submit" class="btn btn-primary align-self-center text-white">Wyślij</button>
</form>

{{ if strings.ContainsNonSpace .Inner }}
Inner is not empty
{{ end }}