<h2>Wyślij wiadomość</h2>
<form method="POST" action="/api/contact-form" class="d-flex flex-column gap-2">
    <input type="text" required class="form-control" id="senderName" name="name" placeholder="Imię i Nazwisko">
    <input type="email" required class="form-control" id="email" name="email" placeholder="E-mail">
    <input type="text" required class="form-control" id="subject" name="subject" placeholder="Temat">
    <textarea class="form-control" required id="message" name="message" rows="3" placeholder="Wiadomość"></textarea>
    <button type="submit" class="btn btn-primary align-self-center text-white">Wyślij</button>
</form>

{{ if strings.ContainsNonSpace .Inner }}
Inner is not empty
{{ end }}