<div id="hero">

    <div class="overly">
        <div class="row align-items-center text-center p-0 m-0">
            <h1>{{ site.Params.subtitle1 }}</h1>
            <h2>{{ site.Params.subtitle2 }}</h2>
            <h3>{{ site.Params.subtitle3 }}</h3>
            <h4>{{ site.Params.subtitle4 }}</h4>
        </div>
        <div class="row  gallery">
                <img class="col-md-3 col-6" src="/images/img1.png" alt="">
                <img class="col-md-3 col-6" src="/images/img2.png" alt="">
                <img class="col-md-3 col-6" src="/images/img3.png" alt="">
                <img class="col-md-3 col-6" src="/images/img4.png" alt="">
        </div>
    </div>

    <video data-dashjs-player crossorigin="anonymous"
           preload="metadata"
           disablepictureinpicture=""
           autoplay="autoplay" muted loop playsinline
           class="cover"
    >
        <source src="/videos/hero2/video.mpd" type="application/dash+xml">
    </video>

</div>

{{ if strings.ContainsNonSpace .Inner }}
Inner is not empty
{{ end }}