<div id="hero">

    <div class="overly">
        <div class="row align-items-center text-center p-0 m-0">
            <h1>Hero 2</h1>
        </div>
    </div>

    <video data-dashjs-player crossorigin="anonymous"
           preload="metadata"
           disablepictureinpicture=""
           autoplay="autoplay" muted loop playsinline
           class="cover"
    >
        <source src="/videos/hero1/video.mpd" type="application/dash+xml">
    </video>

</div>

{{ if strings.ContainsNonSpace .Inner }}
Inner is not empty
{{ end }}